:root {
  --primary-color: rgb(197, 228, 197);
  --primary-color-darker: rgb(177, 208, 177, 0.5);
  --font-color: rgb(47, 79, 79);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
 
}

.content {
  min-width: 100vw; 
  min-height:100vh;
  display: flex;
  flex:1;
  align-items:  center;
  flex-direction: column;
  background-color: var(--primary-color);
  

}

.header {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 0;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--primary-color-darker);
  color: var(--font-color);

}

.header h1 {
  font-size: 3rem;
}

.menu ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 2rem;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--font-color);
  font-size: 1.5rem;
}

a:hover {
  font-weight: bold;

}

.mainContent {
  
  margin: 1rem;
  text-align: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-color);
  font-size: 1rem;
  
}


.menuContent {
  display: grid;
  grid-template-columns: repeat(2, minmax(400px, 1fr));
  gap: 5rem;
  margin-bottom: 4rem;
  
}

.menuItem {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 18rem;
  font-size: 1.5rem;
  font-style: italic;
  color: var(--font-color);

}

.img {
  width: 100%;
  height: 100%;
  border-radius: 10%;

}

.block:hover{
  transform: scale(1.1);
}



@media (max-width: 800px) {
  

  .menuContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
    }
    .menuItem{
      width: 22rem;
      height: 14rem;
      font-size: 1rem;
    }

 
}